<footer class="footer">
  <div class="container">
    <copyright>
      &copy; Twitterdave <%= Time.now.year %>
        </copyright>
          <nav>
            <ul>
              <!--<li><#%= link_to "facebook",   about_path %></li>
              <li><#%= link_to "twitter", contact_path %></li>-->
              <li><a href="http://news.railstutorial.org/">News</a></li>
            </ul>
          </nav>
  </div>
</footer>